<%- include("./layout/head.ejs") %>

<body class="bg-slate-100">
    <%- include("./layout/sidebar.ejs") %>
        
    <div class="h-screen flex flex-col">
        <%- include("./layout/header.ejs") %>
        
        <main class="flex-grow py-10">
            <section class="max-w-4xl mx-4">
                <h1 class="text-4xl font-bold mb-6">Book Details</h1>
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-2xl font-semibold mb-4">Name: <%= book.book_name %></h2>
                    <p class="text-gray-600 mb-2"><strong>Author:</strong> <%= book.author %></p>
                    <p class="text-gray-600 mb-2"><strong>Year:</strong> <%= book.year %></p>
                </div>
            </section>
        </main>
        
        <%- include("./layout/footer.ejs") %>
    </div>
</body>
</html>
        